 <div class="user-details">
  <h1> Sobre </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Designer</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Criação de tela com HTML/CSS, SASS, Booststrap e etc..</p>
    </div>
    <div class="tech">
      <h2>Código</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-typescript-plain colored"></i>
      <p>Codificação em React, NodeJs, Angular, Javascript, Typescript, etc...</p>
    </div>
    <div class="tech">
      <h2>Ferramentas</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>Versionamento com Git, Visual Studio/Code, Gulp, Npm e etc...  </p>
    </div>
</div>
