 <div class="user-details">
  <h1> Sobre </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Designer</h2>
      <i class="devicon-html5-plain-wordmark" title="Html5"> </i>
      <i class="devicon-bootstrap-plain-wordmark colored" title="Boostrap"></i>
      <i class="devicon-sass-original colored" title="Sass"></i>
      <p>Criação de tela com HTML/CSS, SASS, Booststrap e etc..</p>
    </div>
    <div class="tech">
      <h2>Código</h2>
      <i class="devicon-javascript-plain colored" title="Javascript"></i>
      <i class="devicon-react-original-wordmark colored" title="React"></i>
      <i class="devicon-nodejs-plain-wordmark" title="NodeJs"></i>
      <i class="devicon-typescript-plain colored" title="Typescript"></i>
      <i class="devicon-angularjs-plain colored" title="Angular"></i>
      <p>Codificação em React, NodeJs, Angular, Javascript, Typescript, etc...</p>
    </div>
    <div class="tech">
      <h2>Ferramentas</h2>
      <i class="devicon-git-plain-wordmark colored" title="Git"></i>
      <i class="devicon-gulp-plain colored" title="Gulp"></i>
      <i class="devicon-visualstudio-plain colored" title="Visual Studio"></i>     
      <p>Versionamento com Git, Visual Studio/Code, Gulp, Npm/yarn e etc...  </p>
    </div>
</div>
