<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Todo list" src="{{ "/assets/img/todo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Todo List </h3>
    <ul>
      <li>Automatização de lista de tarefas</li>
    </ul>
    <p>Uma lista de tarefas criada em Node com SqLite e React no front. Esse Projeto 
      é especifico para mostrar todo o CRUD criado desde o servidor ao frontEnd.
    </p>
    <a class="project-link" target="_blank"href="https://github.com/JulianaPort/todolist">Confira aqui</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Tela da home join" src="{{ "/assets/img/homejoin.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Join us </h3>
    <ul>
      <li> Tela de home do Join Us</li>
    </ul>
    <p>Criação totalmente responsiva da tela do Join Us em React e SCSS, renderize o tamanho da tela para ver o projeto se adaptando. </p>
    <a class="project-link" target="_blank" href="https://github.com/JulianaPort/homeJoinUs">Confira aqui</a>
  </div>
</div>
